@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Karla", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px;
  height: 65px;
  color: #fff;
}

.nav--image {
  height: 100%;
  margin-right: 5px;
}

.nav--title {
  margin-right: auto;
  font-size: 1.25rem;
}

.nav--project {
  font-size: 1rem;
  font-weight: 500;
}
