@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  font-family: "Karla", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 20px;
  height: 65px;
  color: #fff;
}
main {
  padding: 36px;
}

/*! navbar or header */
.nav--image {
  height: 100%;
  margin-right: 5px;
}

.nav--title {
  margin-right: auto;
  font-size: 1.25rem;
}

.nav--project {
  font-size: 1rem;
  font-weight: 500;
}

/* form component */
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  grid-gap: 30px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  text-indent: 5px;
  border: 1px solid #d5d4d8;
}

.form--button {
  grid-column: 1 / -1;
  border: none;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  border-radius: 5px;
}
